@{
    ViewBag.Title = "Home Page";
}

<div id="container">
    <div id="description">
        <h1 >Big Boi Tech Reviews</h1>
        <h3 >We at <i>Big Boi Tech Reviews</i> use our pent up rage to harshly (and ruthlessly) critique the tech in our modern world</h3>
    </div>
    
</div>