body {
    background-image: url('../angry-annoyed-cafe-52608.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-color:rgba(0, 232, 104,0.25);
    min-width:500px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;

/*Decorating the HomePage using grid*/
}
#container{
    display:grid;
    width:100%;
    display:grid;
    grid-template-columns:repeat(15,1fr);
    grid-template-rows:repeat(10,50px);
}
#nav{
    grid-column:span 15;
    background-color:rgb(0, 232, 104);
}
    #nav h1 {
        font-family: 'Gaegu', cursive;
        margin-left:10px;
        margin-bottom:0px;
    }
    #nav ul {
        list-style: none;
        display: flex;    
    }
        #nav ul li {
            flex-basis: 10%;
            height:50px;
            text-align:center;
        }
            #nav ul li a {
                text-decoration: none;
                color: rgb(194, 255, 222);
                font-size: 30px;
                padding:8px;
            }
            #nav ul li a:hover {
                background-color:rgb(0, 146, 65);
                border-radius:5px;
            }
            #nav ul li a:active{
                color:rgb(73, 49, 0);
                background-color:rgb(242, 186, 71)
            }
                #description{
                    grid-column:2/span 13;
                    grid-row:span 4;
                    background-color:rgba(0, 232, 104,0.25);
                    border-radius:10px;
                    display:flex;
                    align-items:center;
                    flex-flow:column;
                    justify-content:center;
                    color:rgb(1, 31, 15);
                }
                #description h3{
                    text-align:center;
                }

